_notes/*
data/lexibench/bin_cross_validation/*
data/lexibench/character_matrices/*
data/lexibench/character_matrices_compatible/*
data/lexibench/download/*
data/lexibench/lingpy_wordlists/*
data/bin_cross_validation/*
data/bv_cross_validation_data/*
data/cross_validation/*
data/cross_validation_plots/*
data/inferences/*
data/plots/*
data/properties_plots/*
data/bin_cross_validation_plots/
data/lexibench_six/*
data/block_matrices/*
data/block_matrix_3.phy
data/inferences_six/*
data/inference*
data/plots_six/*
data/block_matrix*
old_results/*

!data/lexibench/etc/*

**/*_cv_*
**/__pycache__/
temp.phy.pythia.reduced
.snakemake/
test.raxml.*
bin/old/*
old/*
bin/*
!bin/.gitkeep
